/**
 * = List groups
 */

// Space list items
.list-group-space {
  .list-group-item {
    margin-bottom: 1.5rem;
    @include border-radius($list-group-border-radius);
  }
}

// List group components
.list-group-item {
  // border: 0;
  &.active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border-color;
  }

  i {
    width: 1rem;
  }
}

.list-group-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  vertical-align: top;
  margin: -0.1rem 1.2rem 0 -0.2rem;
}
.list-group-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;

  > p {
    color: $gray-500;
    line-height: 1.5;
    margin: 0.2rem 0 0;
  }
}
.list-group-heading {
  font-size: $font-size-base;
  color: $gray-800;

  > small {
    float: right;
    color: $gray-500;
    font-weight: 500;
  }
}

.list-group {
  &[role='tablist'] {
    & > .list-group-item {
      padding: $list-group-sm-item-padding-y $list-group-sm-item-padding-x;
      height: $list-group-item-height;
      background-color: $gray-100;
      font-weight: $font-weight-medium;
      display: flex;
      align-items: center;
      gap: $list-group-sm-item-padding-y;

      &:not(:first-child) {
        margin-top: -$border-width;
        border-top-width: $border-width;
      }

      &:hover {
        background-color: $gray-400;
      }

      &.active {
        background-color: $soft-primary;
        border-color: $soft-primary;
      }
    }
  }
  &[role='tabpanel'] {
    &.active {
      display: grid;
    }
    grid-template-columns: repeat(2, 1fr);
    gap: $list-group-sm-item-padding-y;

    & > .list-group-item {
      border: 0;
      padding: 0;

      .form-check {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: $list-group-sm-item-padding-y;
        margin: 0;
        padding: 0;
        min-height: auto;
        line-height: $line-height-lg;

        .form-check-input {
          vertical-align: middle;
          float: none;
          margin: 0;
          padding: 0;
          width: $icon-size-sm;
          height: $icon-size-sm;
        }
        .form-check-label {
          font-weight: 500;
        }
      }
    }
  }
  &.simple-list {
    .list-group-item {
      background: transparent;
      border: none;
      padding: 0.375rem 0.125rem;
      i {
        vertical-align: middle;
        width: 35px;
        display: inline-block;
      }
    }
  }
}

//News list for widgets

.news-list {
  .row {
    > [class*='col'] {
      padding: 0 $spacer/4;
    }
  }

  > li {
    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  img {
    min-height: 100%;
    object-fit: cover;
  }
}
