$cell-width: 42px;
$cell-height: 42px;
$category-height: 42px;
$subcategory-height: 120px;
$operation-height: 150px;

$cell-required: var(--bs-info);
$cell-disabled: var(--bs-gray-500);
$cell-selected: var(--bs-yellow);
$cell-default: var(--bs-green);
$cell-empty: transparent;

.table-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.5rem;
  color: var(--bs-primary);

  .info-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-basis: calc(50% - 0.25rem);
    height: 36px;

    .icon {
      width: 24px;
      height: 24px;

      &.required {
        background-color: $cell-required;
      }
      &.disabled {
        background-color: $cell-disabled;
      }
      &.default {
        background-color: $cell-default;
      }
      &.selected {
        background-color: $cell-selected;
      }
    }
    .text {
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1.5;
      flex: 1;
    }
  }
}

@mixin applyWidth($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

@mixin applyHeight($height) {
  height: $height;
  min-height: $height;
  max-height: $height;
}

@keyframes loading-skeleton {
  from {
    background-color: rgba(230, 230, 240, 0.2);
  }
  to {
    background-color: rgba(230, 230, 240, 1);
  }
}

@keyframes progress-skeleton {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 0.25;
  }
}

.process-loader,
.process-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  width: 100%;
}
.process-wrapper {
  flex-direction: column;
}
.process-loader {
  border-radius: 5px;
  background-color: rgba(230, 230, 240, 1);
  animation: loading-skeleton 0.75s ease infinite alternate;
  pointer-events: none;
}

.process {
  width: 100%;
  cursor: default;
  transition: all ease 0.3s;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    background: var(--bs-white);
  }

  &.in-progress {
    animation: progress-skeleton 1s ease-in-out infinite alternate;
  }
  &.is-progressed {
    opacity: 0.5;
  }
}

.cell {
  position: relative;
  vertical-align: middle;
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 0;

  &:hover {
    &::after,
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      background: var(--bs-yellow-alt) !important;
    }

    &::after {
      top: -5000px;
      bottom: -5000px;
    }
    &::before {
      left: -5000px;
      right: -5000px;
    }
  }

  &.in-progress {
    &:hover {
      &::before,
      &::after {
        content: none;
      }
    }
  }

  &:first-child {
    &:hover {
      &::after {
        content: none;
      }
    }
  }

  &[colspan='1'] {
    @include applyWidth($cell-width);
    @include applyHeight($cell-height);
  }

  .head & {
    background: var(--bs-gray-400);
    border: 1px solid var(--bs-gray-600);
    &:hover {
      &::after {
        content: none;
      }
      &::before {
        content: none;
      }
    }
  }
  .head.category & {
    @include applyHeight($category-height);
    padding: 0 5px;
    z-index: 3;
  }
  .head.subcategory & {
    @include applyHeight($subcategory-height);
    padding: 5px 0;
    z-index: 2;
  }
  .head.operation & {
    @include applyHeight($operation-height);
    padding: 5px 0;
    z-index: 1;
  }
  .item & {
    @include applyHeight($cell-height);
    border: 1px dashed var(--bs-gray-600);
    border-top: none;

    &:not(:last-child) {
      border-left: none;
    }
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    @include applyHeight(100%);
    @include applyWidth(100%);

    .head & {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.5;
    }
    .head.category & {
      overflow: hidden;
    }
    .head.subcategory & {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
    .head.operation & {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
    .item & {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      padding: 0 5px;
    }
  }

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;

    .form-check-label {
      position: absolute;
      inset: 0;
      z-index: 1;
    }

    .form-check-input {
      cursor: pointer;
      margin: 0;
      padding: 0;
      border-radius: 0;
      border: none;
      width: 100%;
      height: 100%;
      background-image: none;
      background-color: $cell-empty;
      box-shadow: none;

      &:disabled {
        opacity: 1;
      }
    }

    &.default {
      .form-check-label {
        cursor: pointer;
      }
      .form-check-input {
        background-color: $cell-default;
      }
    }
    &.selected {
      .form-check-label {
        cursor: pointer;
      }
      .form-check-input {
        background-color: $cell-selected;
      }
    }
    &.required {
      .form-check-label {
        cursor: default;
      }
      .form-check-input {
        background-color: $cell-required;
      }
    }
    &.disabled {
      .form-check-label {
        cursor: not-allowed;
      }
      .form-check-input {
        background-color: $cell-disabled;
      }
    }
    &.empty {
      .form-check-label {
        cursor: pointer;
      }
      .form-check-input {
        background-color: $cell-empty;
      }
    }
    &.in-progress {
      .form-check-label {
        cursor: not-allowed;
      }
    }
  }
}
