@font-face {
  font-family: 'MCIDana';
  font-style: 'normal';
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/woff2/dana-regular.woff2') format('woff2'),
    url('../assets/fonts/woff/dana-regular.woff') format('woff');
}

@font-face {
  font-family: 'MCIDana';
  font-style: 'normal';
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/woff2/dana-medium.woff2') format('woff2'),
    url('../assets/fonts/woff/dana-medium.woff') format('woff');
}

@font-face {
  font-family: 'MCIDana';
  font-style: 'normal';
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/woff2/dana-bold.woff2') format('woff2'),
    url('../assets/fonts/woff/dana-bold.woff') format('woff');
}

html,
body {
  overflow: hidden;
}

#root {
  overflow: hidden;
  max-height: 100vh;
}

.form-floating > label {
  left: auto;
  right: 0;
  width: 100%;
  transform-origin: 100% 0;
  font-weight: 500;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.85) translateY(-0.5rem) translateX(-0.15rem);
}

.text-ltr {
  direction: ltr;
}

.text-rtl {
  direction: rtl;
}

.fw-medium {
  font-weight: $font-weight-medium !important;
}

.Calendar {
  font-size: 8px !important;
  width: 32em !important;
  min-height: 32em !important;

  .Calendar__section {
    padding: 0 2em !important;

    .Calendar__sectionWrapper {
      min-height: 24em !important;
    }
  }
}

@keyframes loader-skeleton {
  from {
    background-color: rgba(230, 230, 240, 0.2);
  }
  to {
    background-color: rgba(230, 230, 240, 0.9);
  }
}

.mc-loader {
  position: absolute;
  inset: 0;
  z-index: 999;
  transition: all ease 0.3s;
  opacity: 0;
  visibility: hidden;
  background-color: none;

  &.roles {
    inset: 0.0625rem;
    top: calc(
      (2 * (0.55rem + 0.0625rem)) + (1.5 * 0.875rem) + 0.875rem + 1rem + 1rem
    );
    border-radius: 0.5rem;
  }

  &.loading {
    opacity: 1;
    visibility: visible;
    background-color: rgba(230, 230, 240, 0.9);
    animation: loader-skeleton 0.75s ease infinite alternate;
  }
}

.bg-login {
  position: relative;

  & > * {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url('../assets/images/bg.png');
    background-position: calc(50% - 45px) calc(0% - -10px);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 1000px;
    opacity: 0.25;
  }
}
