@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/functions';
@import 'volt/variables';

.rs-table-cell {
  & > .rs-table-cell-content {
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    padding: 0;

    .rs-table-cell-header & {
      font-size: $font-size-md;
      font-weight: $font-weight-medium;
    }
  }
  &.cell-checkbox {
    & > .rs-table-cell-content {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;

      .form-check-input {
        margin: 0;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
}

// .rs-table-scrollbar-vertical .rs-table-scrollbar-pressed,
// .rs-table-scrollbar-vertical:hover {
//   width: 10px !important;
//   box-shadow: none !important;
// }
// .rs-table-scrollbar-vertical
//   .rs-table-scrollbar-pressed
//   .rs-table-scrollbar-handle,
// .rs-table-scrollbar-vertical:hover .rs-table-scrollbar-handle {
//   width: 8px !important;
//   left: 1px !important;
// }

// .rs-table-row {
//   padding-right: 10px;
// }

.rs-table-header-row-wrapper,
.rs-table-body-row-wrapper {
  direction: ltr;
}
.rs-table-body-wheel-area {
  direction: rtl;
}
.rs-table-row {
  right: initial !important;
  left: 0;
  direction: rtl;
}
.rs-table-cell-group-fixed-right {
  margin-right: 10px;
}

.rs-table-cell-group-scroll {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  position: absolute;
  // right: 10px;
  // height: 100%;
  // position: absolute;
}
.rs-table-cell {
  // margin-right: 10px;
}
.rs-table-cell-first {
  // margin-right: 0;
}

.rs-table-scrollbar {
  max-width: 100%;
}

.rs-table-scrollbar-horizontal .rs-table-scrollbar-pressed,
.rs-table-scrollbar-horizontal:hover {
  height: 10px !important;
  box-shadow: none !important;
}

.rs-table-scrollbar-horizontal
  .rs-table-scrollbar-pressed
  .rs-table-scrollbar-handle,
.rs-table-scrollbar-horizontal:hover .rs-table-scrollbar-handle {
  top: 1px !important;
  height: 8px !important;
}

// .rs-table-scrollbar-vertical {
//   // right: auto;
//   // left: 5px;
//   // top: 5px;
//   // bottom: 5px;
//   // border-radius: 5px;
//   // width: 9px !important;
//   // box-shadow: none !important;
//   // transition: all ease 0.3s;
//   scroll-behavior: smooth;

//   .rs-table-scrollbar-handle {
//     // width: 5px !important;
//     // left: 2px !important;
//     // height: calc((100% / 1.5) - 7px) !important;
//     // top: 2px;
//     transition: all ease 0.3s;
//     scroll-behavior: smooth;
//   }
// }

// .rs-table-scrollbar-horizontal {
//   // right: 5px;
//   left: 5px;
//   bottom: 5px;
//   border-radius: 5px;
//   height: 9px !important;
//   box-shadow: none !important;
//   transition: all ease 0.3s;
//   scroll-behavior: smooth;

//   .rs-table-scrollbar-handle {
//     height: 5px !important;
//     top: 2px !important;
//     // width: calc((100% / 1.5) - 7px) !important;
//     left: 2px;
//     transition: all ease 0.3s;
//     scroll-behavior: smooth;
//   }
// }

.rs-table {
  &.rs-table-bordered {
    border: 1px solid var(--bs-gray-500);
    border-radius: 5px;

    .rs-table-cell {
      border-left: 1px solid var(--bs-gray-400);
      border-bottom: 1px solid var(--bs-gray-400);
      border-right: none;
    }
  }
}
